<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nuc.ssm.dao.LogisticsMapper">

    <sql id="Base_Columns_List">
        l_id,to_Address,to_Name,to_Phone,address,name,phone,way,weight,money,kinds,l_number,mark,deliver,logisticsAddress
    </sql>
    <update id="update2">
        update logistics
        set kinds=2,
            deliver=#{deliver}
        where l_number = #{lNumber};
    </update>
    <update id="updateAddressLogistics">
        update logistics
        set logisticsAddress = #{logisticsAddress},
            to_name          = #{toName},
            to_phone         = #{toPhone},
            to_address       = #{toAddress},
            way=#{way}
        where l_number = #{lNumber};
    </update>
    <update id="update3">
        update logistics
        set kinds=3,
            deliver=#{deliver},
            logisticsAddress=#{logisticsAddress}
        where l_number = #{lNumber}
    </update>
    <update id="update4">
        update logistics
        set kinds=4,
            deliver=#{deliver},
            logisticsAddress=#{logisticsAddress}
        where l_number = #{lNumber}
    </update>
    <update id="doneOrder">
        update logistics
        set done=1
        where l_number = #{lNumber}
    </update>
    <select id="count" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM logistics
        WHERE kinds!='4' and l_number like concat('%', #{lNumber}, '%')
    </select>
    <select id="listWithPage" resultType="cn.edu.nuc.ssm.entity.Logistics">
        select
        <include refid="Base_Columns_List"/>
        from logistics
        where l_number like concat('%',#{lNumber},'%') and kinds!='4'
        limit #{start},#{offset}
    </select>
    <select id="queryBylNumber" resultType="cn.edu.nuc.ssm.entity.Logistics">
        select *
        from logistics
        where l_number = #{lNumber}
    </select>
    <select id="getDoneOrder" resultType="cn.edu.nuc.ssm.entity.Logistics">
        select
        <include refid="Base_Columns_List"/>
        from logistics
        where kinds='4' and l_number like concat('%',#{lNumber},'%')
        limit #{start},#{offset}
    </select>
    <select id="count1" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM logistics
        WHERE kinds='4' and l_number like concat('%', #{lNumber}, '%')
    </select>
</mapper>
